@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="    ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista De Tarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/autenticacao.css" />
    <link rel="stylesheet" href="~/ListaDeTarefas.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6" style="margin-top: 13%;">
                <div class="card">
                    <div id="feedBack"></div>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <div class="col-md-12">
                                <h1>Login</h1>
                                <div class="offset-md-3 col-md-6">
                                    <form asp-action="Login" class="formularioLogin">
                                        <div id="formularioLogin">
                                            <div class="form-group form-campo">
                                                <label>Email</label>
                                                <input id="UserName" class="form-control" required />
                                                <div id="email" class="invalid-feedback">
                                                </div>
                                            </div>
                                            <div class="form-group form-campo">
                                                <label>Senha</label>
                                                <input id="Password" type="password" class="form-control" required />
                                                <div id="senha" class="invalid-feedback">
                                                </div>
                                            </div>
                                            <div class="row d-flex form-campo">
                                                <div class="form-group">
                                                    <button id="btn-entrar" type="button" class="btn btn-tela col-md-12" onclick="AjaxLogin()">Entrar</button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <p class="link">Ainda não tem conta? <a asp-controller="Login" asp-action="RegistrarUsuario">Cadastrar</a></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Login/script.js"></script>
    <script>
        $(document).keypress(function(e) {
            if (e.which === 13) {
                $('#btn-entrar').click();
            }
        });
    </script>
</body>
</html>
