@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="    ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista De Tarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ListaDeTarefas.styles.css" asp-append-version="true" />
</head>
<body>
    <h1>Cadastro</h1>

    <div class="row">
        <div class="col-md-4">
            @*<form asp-action="RegistrarUsuario" method="post">*@
                <div id="formularioLogin">
                    <div class="form-group">
                        <input asp-for="@Model.Usuario.Nome" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Usuario.SobreNome" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Usuario.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="button" onclick="AjaxRegistro()" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            @*</form>*@
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Login/script.js"></script>
</body>
</html>


