@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="    ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista De Tarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ListaDeTarefas.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6" style="margin-top: 10%;">
                <div class="card">
                    <div id="feedBack">
                    </div>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <div class="col-md-12">
                                <div class="offset-md-3">
                                    <h1>Cadastro</h1>
                                </div>
                            </div>


                            <div class="offset-md-3 col-md-6">
                                <div id="formularioLogin">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input id="Nome" type="text" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Sobrenome</label>
                                        <input id="SobreNome" type="text" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input id="Email" type="text" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input id="Password" type="password" class="form-control" required />
                                    </div>
                                    <div class="d-flex justify-content-end" style="margin-top: 10px;">
                                        <div class="form-group">
                                            <button id="btn-salvar" type="button" class="btn btn-primary" onclick="AjaxRegistro()">Salvar</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a asp-controller="Login" asp-action="Login">Voltar</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Login/script.js"></script>
    <script>
        $(document).keypress(function(e) {
            if(e.which === 13)
            {
                $('#btn-salvar').click();
            }
        });
    </script>
</body>
</html>


