.card-superior .card {
    color: white;
    margin-top: 1em;
}

.card-superior .card-selecionado {
    box-shadow: 0 0 3px #000;
}

.card-superior .card-finalizado {
    background-color: #48c3b3;
}

.card-superior .card-aberto {
    background-color: #de8679;
}

.card-superior .nav-link {
    padding: 0;
}

#check{
    padding-left: 24px;
}

.lista-tarefas {
    margin-top: 2em;
}

.lista-tarefas .card-body {
    max-height: 500px;
    overflow-y: scroll;
    margin-left: 1em;
}

.lista-tarefas .card-title {
    text-align: left;
    color: #fff;
    margin: 5px 0px 5px 0;
}

.lista-tarefas#abertas .card-header {
    background-color: #DE8679;
}

.lista-tarefas#finalizadas .card-header {
    background-color: #46BDAD;
}

.tarefas{
    margin-top: 1em;
}

.tarefas #salvar-tarefa{
    width: 31%;
}

.tarefas .card-title {
    color: #fff;
    margin: 5px 0px 5px 0;
}

.tarefas .card-header {
    background-color: #6cbccd;
}

.tarefas #lista {
    overflow-y: scroll;
    max-height: 300px;
}

.tabela-header{
    font-weight: 500;
    padding: 10px 0 10px 0;
}

.tabela-body{
    padding: 10px 0 10px 0;
}

.was-validated .form-control:valid {
    border-color: #dfdfdf;
    padding-right: 0;
    background: none;
}

.was-validated .form-control:valid:focus {
    border-color: #dfdfdf;
}

.was-validated .form-control:valid:focus,
.was-validated .form-control:invalid:focus,
.form-group input:focus {
    box-shadow: none;
    outline: none;
}