@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  margin-bottom: 60px;
  background-color: #fafafa;
}

nav {
    border-bottom: 1px solid #9fc7cf;
}

h1, h2, h3, h4 {
    font-family: Arial, sans-serif;
}

button.btn-tela {
    background-color: #43bed7;
    color: #fff;
}

button.btn-tela:hover {
    color: #edebeb;
}

input:focus {
    outline: none;
}

.form-campo{
    margin-top: 10px;
}

#feedBack .alert-danger{
    color: #ff0000;
    background: none;
    border-color: #ff0000;
}

#feedBack .alert-success {
    background: none;
}

.loading.ativo, .modal-confirmacao.ativo {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
}

.loading .spin-load {
    position: fixed;
    left: 0;
    right: 0;
    top: 40%;
}

.modal-confirmacao .modal {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    top: 30%;
}

.dropdown-menu {
    min-width: 13em !important;
}